# Server
PORT=3000
NODE_ENV=development
SERVER_BASE_URL=http://localhost:3040

# Logging
LOG_LEVEL=debug

# Database
MONGO_URI=

# Auth
JWT_SECRET=
JWT_EXPIRES_IN=1h
HASH_SALT_ROUND=10

# AI
GEMINI_API_KEY=
GROQ_API_KEY=

# YouTube
YOUTUBE_API_KEY=
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
YOUTUBE_REDIRECT_URI=http://localhost:3040/api/v1/publish/youtube/callback
YT_DLP_PATH=

# Meta / Instagram
META_APP_ID=
META_APP_SECRET=
META_REDIRECT_URI=http://localhost:3040/api/v1/publish/instagram/callback
INSTAGRAM_APP_ID=
INSTAGRAM_APP_SECRET=
