# Dependencies
node_modules/

# Build output
dist/

# Environment
.env

# Logs
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

#Postman
postman_collection.json

# Local Uploads
uploads/

